/* src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FEF7FF; /* Color de fondo MD3 */
  -webkit-font-smoothing: antialiased;
}

/* Evitar el rebote elástico en móviles */
html, body {
  overscroll-behavior-y: none; 
}